* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: bisque;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: darkmagenta;
    border-bottom: 4px solid darkmagenta;
  }
}
.main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .formSection {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-around; 
    background-color: gainsboro;
    overflow: hidden;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: space-around;
    }
    form p {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    form input[type=submit] {
      margin: 20px;
      width: 200px;
      height: 20px;
    }
    form input[type=file] {
      margin: 20px;
      width: 300px;
      height: 20px;
      
    }

  }
  .previewSection {
    width: 70%;
  }
}
.preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    list-style: none;
    margin: 0 10px 10px 10px;
  }
  .imagePreview {
    cursor: pointer;
    &:hover {
      outline: 2px solid green;
    }
  }
}
.modal {
  visibility: hidden;
  position: fixed;
  top:50px;
  left:200%;
  z-index:10;
  width: 30%;
  border: 3px solid orangered;
  opacity:0;



  #close{
    position: absolute; top: 25px; left: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    margin: -25px 0 0 -25px;
  }
  #close:before,
  #close:after{
    content: '';
    position: absolute; top: 0;
    width: 2px;
    height: 100%;
  }
  #close:before{
    left: calc(50% - 1px);  
    border-left: 2px dotted #00f;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #close:after{
    right: calc(50% - 1px); 
    border-right: 2px dotted #00f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #close:hover:before,
  #close:hover:after{
    border-color: #f00;
  }
}

